<!-- About Section -->
<section class="success" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>À propos</h2>
				<hr class="star-light">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
				<p>Sell A joke est un site qui vous permet de trouver la blague qui fera s'écrouler de rire vos amis... au meilleur prix. Commandez dès à présent votre blague ou choisissez parmis les blagues disponibles !</p>
			</div>
			<div class="col-lg-4">
				<p>Si vous êtes un professionnel de l'humour et que vous ne savez plus quoi faire de vos bonnes blagues, vendez-les ici ! Sell A Joke est la seule plateforme mettant en relation des gens chiants ou en panne d'inspi avec des petits rigolos comme vous</p>
			</div>
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<a href="#" class="btn btn-lg btn-outline">
					<i class="fa fa-beer"></i> Accédez à la gallerie !
				</a>
			</div>
		</div>
	</div>
</section>