<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Les awards winning</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			{% for joke in jokes %}
			<div class="col-sm-4 portfolio-item">
				<a href="#modal-joke-{{ joke.id }}" class="portfolio-link" data-toggle="modal">
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-search-plus fa-3x"></i>
						</div>
					</div>
					<img src="{{ asset( joke.img ) }}" class="img-responsive" alt="Cabin">
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>